<div class="bootstrap-modal">
    <!-- Modal HTML -->
    <div id="register-modal" class="modal fade" data-backdrop="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- <div class="modal-header d-flex align-items-end flex-column border-0">
                    <p type="button" class="btn-close-white shadow-none border-0" data-dismiss="modal">&#x2715;</p>
                </div> -->
                <div class="modal-body border-0">

                    <form class="form register-form">

                        <div class="form-group">
                            <label for="username-input">username</label>
                            <br>
                            <input class="form-input" type="text" id="username-signup" />
                        </div>

                        <div class="form-group">
                            <label for="password-input">password</label>
                            <br>
                            <input class="form-input" type="password" id="password-signup" />
                        </div>
                    </form>
                </div>

                <div class="modal-footer justify-content-center border-0">
                    <div class="form-group">
                        <button class="btn btn-secondary btn-light btn-lg active" data-toggle="button" type="submit"
                            id="signup-form-btn">Register</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="/js/register.js"></script>