<div class="user-post">
    <div class="post-header">
        <div class="post-title">{{this.postTitle}}</div>
        <div>username</div>
        <div class="post-date">date</div>
    </div>
    <div class="post-text-content">Post Content</div>
</div>