<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Community Message Board</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700,800,900">
</head>

<body>
  <header>
  </header>
  <main>
    {{{ body }}}
  </main>
  <footer>
      
  </footer>
</body>

</html>
