<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Community Message Board</title>
</head>

<body>
  <header>
    <h1>
      Community Message Board
    </h1>
  </header>
  <main>
    {{{ body }}}
  </main>
  <footer>
      
  </footer>
</body>

</html>
