<div id="nav">
    <div class="nav-item">Login</div>
    <div class="nav-item">Create Account</div>
    <div id="page-title">Community Bulletin Board</div>
</div>
<div class="post-container">
    {{#each this}}
        {{>user-post this}}
    {{/each}}
    {{> user-post postTitle="Test Post 1"}}
    {{> user-post postTitle="Test Post 2"}}
</div>