<div id="nav">
    <div class="nav-item">Login (Placeholder)</div>
    <div class="nav-item">Create Account (Placeholder)</div>
    <div class="nav-item" id="page-title">Community Bulletin Board</div>
</div>
<div>
    placeholder for post items
</div>