<div class="bootstrap-modal">
    <!-- Modal HTML -->
    <div id="login-modal" class="modal fade" data-backdrop="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- <div class="modal-header d-flex align-items-end flex-column border-0">
                    <p type="button" class="btn-close-white shadow-none border-0" data-dismiss="modal">&#x2715;</p>
                </div> -->
                <div class="modal-body border-0">

                    <form class="form login-form">
                        <div class="form-group">
                            <label for="username-login">username</label>
                            <br>
                            <input class="form-input" type="text" id="username-login" />
                        </div>
                        <div class="form-group">
                            <label for="password-login">password</label>
                            <br>
                            <input class="form-input" type="password" id="password-login" />
                        </div>
                    </form>

                </div>
                <div class="modal-footer justify-content-center border-0">
                    <div class="form-group">
                        <button class="btn btn-secondary btn-light btn-lg active" data-toggle="button"
                            type="submit">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="bootstrap-modal">

    <button type="button" id="register-button" class="btn btn-lg btn-primary">Register</button>

    <!-- Modal HTML -->
    <div id="register-modal" class="modal fade" data-backdrop="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- <div class="modal-header d-flex align-items-end flex-column border-0">
                    <p type="button" class="btn-close-white shadow-none border-0" data-dismiss="modal">&#x2715;</p>
                </div> -->
                <div class="modal-body border-0">

                    <form class="form register-form">
                        <div class="form-group">
                            <label for="first-name-input">First Name</label>
                            <br>
                            <input class="form-input" type="text" id="first-name-signup" />
                        </div>

                        <div class="form-group">
                            <label for="last-name-input">Last Name</label>
                            <br>
                            <input class="form-input" type="text" id="last-name-signup" />
                        </div>

                        <div class="form-group">
                            <label for="username-input">username</label>
                            <br>
                            <input class="form-input" type="text" id="username-signup" />
                        </div>

                        <div class="form-group">
                            <label for="password-input">password</label>
                            <br>
                            <input class="form-input" type="password" id="password-input" />
                        </div>
                    </form>
                </div>

                <div class="modal-footer justify-content-center border-0">
                    <div class="form-group">
                        <button class="btn btn-secondary btn-light btn-lg active" data-toggle="button"
                            type="submit">Register</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<div id="nav">
    <div class="nav-item" id="nav-login-btn">Login</div>
    <div class="nav-item" id="nav-register-btn">Create Account</div>
    <div id="page-title">Community Bulletin Board</div>
</div>
<div class="post-container">
    {{#each posts as |post|}}
    {{>user-post}}
    {{/each}}
    {{!-- {{> user-post post_title="Test Post 1"}}
    {{> user-post post_title="Test Post 2"}} --}}
</div>