{{!-- create post modal --}}
{{>createpost}}

<div id="nav">
    {{!-- <div class="nav-item" id="nav-login-btn">Login</div>
    <div class="nav-item" id="nav-register-btn">Create Account</div> --}}
    <div class="username" id="welcome-msg">{{loginData.username}}</div>
    <div class="nav-item" id="nav-logout-btn">Log Out</div>
    <div id="page-title">Community Bulletin Board</div>
</div>
<div class="post-container">
    {{#each loginData.posts as |post|}}
    {{>user-post}}
    {{/each}}
</div>

<div class="bottom-nav">
    <button class="post-btn" id="post-btn">create post</button>
    <a id="up-btn" href="#page-title"><i class="fas fa-arrow-circle-up up-btn"></i></a>
</div>

<script src="/js/loggedinListeners.js"></script>
<script src="/js/logout.js"></script>
<script src="/js/createPost.js"></script>