:root {
    --light: #C4C4C4;
    --mid: #898989;
    --dark: #484848;
    --blue: #2BADF6;
}

body {
    margin: 0px;
    font-family: 'Work Sans';
}

#nav {
    background-color: var(--light);
    display: flex;
    flex-direction: row;
}

#page-title {
    justify-self: flex-end;
    margin-left: auto;
    font-size: x-large;
    font-weight: 700;
    margin-right: 20px;
    align-self: center;
}

.nav-item {
    margin: 20px;
}

.nav-item:hover {
    font-weight: 600;
    color: var(--blue);
    cursor: pointer;
}

.post-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 100px 10px 100px;
}

.user-post {
    flex: 1 0 35%;
    width: 35rem;
    max-width: 40%;
    height: 13rem;
    max-height: fit-content;
    margin: 10px;
    background-color: var(--light);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

@media only screen and (max-width: 1070px) {
    .user-post {
        max-width: 50%;
        height: 18rem;
    }

    .post-container {
        margin: 10px;
    }
}

@media only screen and (max-width: 800px) {
    .user-post {
        flex: 1 0 55%;
        max-width: 100%;
        height: 13rem;
    }
}

@media only screen and (max-width: 600px) {
    .user-post {
        height: 16rem;
    }
}

.post-header {
    background-color: var(--mid);
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 15%;
    font-weight: 500;
}

.post-username {
    margin-left: 15px;
}

.post-date {
    margin-right: 15px;
}

@media only screen and (max-width: 500px) {
    .post-header {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        min-height: fit-content;
    }
}

.post-content {
    width: 100%;
    height: 100%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

.post-text {
    padding: 15px;
    width: 100%;
    height: 80%;
    text-align: left;
    justify-content: left;
    align-content: left;
}

.likes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
    font-weight: 500;
}

.num-likes {
    margin-right: 10px;
}

.thumbs {
    margin-right: 10px;
    color: black;
}

.create-btn-container {
    display: flex;
    justify-content: center;
}

#create-post-btn {
    width: 100px;
    background-color: #1c7bb0;
    text-align: center;
    color: white;
    font-weight:300;
}

#create-post-btn:hover {
    background-color: #145980;
    cursor: pointer;
}

.username {
    justify-self: flex-start;
    font-size: x-large;
    font-weight: 600;
    align-self: center;
    margin-left: 20px;
}

.bottom-nav {
    position: fixed;
    bottom: 15px !important;
    right: 15px !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.post-btn {
    width: 8rem;
    min-width: fit-content;
    height: 2.5rem;
    border-radius: 100px;
    border: none;
    background-color: var(--blue);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    font-weight: 600;
    font-size: large;
    margin-right: 10px;
}

.up-btn {
    width: 2.45rem;
    height: 2.45rem;
    border: none;
    border-radius: 100px;
    background-color: white;
    color: #2BADF6;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 2.55rem;
}